.profile__description {
  margin: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 710px) {
  .profile__description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
